body {
    font-family: "barlow";
    background-color: white;
    color: #2A4A5C;
    margin: 20px;
}

.container {
    display: flex;
}

h1 {
    font-weight: 400;
}

.logo {
    position: absolute;
    top: 55px;
    left: 55px;
    width: 150px;
}

.facebook {
    background-color: #255A9B;
    color: white;
}

.linkedin {
    background-color: #0076B6;
    color: white;
}

.right {
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 20px;
}

.media {
    display: flex;
    gap: 20px;
}

.facebook {
    display: flex;
    align-items: center;
    border: none;

}

.fb-logo {
    width: 25px;
    height: auto;
    padding: 20px;
}

.linkedin {
    display: flex;
    align-items: center;
    border: none;
}

.in-logo {
    width: 25px;
    height: auto;
    padding: 20px;
}

.or {
    text-transform: uppercase;
    padding-left: 40px;
}

span {
    color: gray;
}

.investor {
    /* color: #7B8A92; */
    font-weight: 400;
    font-size: 20px;
}

.content {
    font-size: 14px;
    opacity: 60%;
}

.terms {
    opacity: 60%;
}

.create-ac {
    background-color: #3698FB;
    color: white;
    width: 35%;
    height: 4%;
    border-radius: 4px;
}

label {
    margin: 30px;
}

.info {
  position: relative;
}

.pop-up_content {
    display: none;
    position: absolute;
    opacity: 80%;
    padding: 10px;
    width: 200px;
    left: -70px;
}

.info:hover .pop-up_content {
    display: block;
    box-shadow:0 4px 20px #bbb;
}

.registration {
    display: flex;
}