body {
    font-family: "barlow";
    background-color: #EFF6FF;
}

.container {
    display: flex;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
}

.facebook {
    background-color: #255A9B;
    color: white;
}

.linkedin {
    background-color: #0076B6;
    color: white;
}
