body {
    font-family: "barlow";
    background-color: white;
    color: #2A4A5C;
}

.container {
    display: flex;
}

h1 {
    font-weight: 400;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
}

.facebook {
    background-color: #255A9B;
    color: white;
}

.linkedin {
    background-color: #0076B6;
    color: white;
}

.right {
    padding-left: 70px;
}

.media {
    display: flex;
    gap: 20px;
}

.facebook {
    display: flex;
}

.fb-logo {
    width: 15px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.linkedin {
    display: flex;
}

.in-logo {
    width: 15px;
    height: auto;
}

.or {
    text-transform: uppercase;
    padding-left: 40px;
}

span {
    color: gray;
}

.investor {
    /* color: #7B8A92; */
    font-weight: 400;
    font-size: 20px;
}

.content {
    font-size: 14px;
    opacity: 60%;
}

.terms {
    opacity: 60%;
}

.create-ac {
    background-color: #3698FB;
    color: white;
    width: 35%;
    height: 4%;
    border-radius: 4px;
}

.info {
  position: relative;
}

.pop-up_content {
    display: none;
    position: absolute;
}

.info:hover .pop-up_content {
    display: block;
}